<header>
    <nav>
        <a href="{{ url_for('feed') }}" class="logo-pinterest" style="text-decoration: none">
            <img src="{{ url_for('static', filename='logo/LogoPinterestLiteTextoLado.png') }}" alt="Pinterest Lite">
        </a>

        <div class="restante-nav">
            <p class="botao-perfil"><a href="{{ url_for('perfil', id_usuario=current_user.id) }}"
                    class="link-nav">Perfil</a></p>
            <a href="{{ url_for('logout') }}" class="link-nav">Sair</a>
        </div>
    </nav>
</header>